/** @format */

.navbar {
  height: 100px;

  .wrapper {
    height: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
